- if team.personal
  .team-holder
    .icon.icon-member
    .team-name
      = team.name
- else
  .team-holder
    .icon.icon-organization
    .team-name
      = team.name
.clear-10
- team.boards.each do |board|
  = render board
.create-board-holder.hide-body-clicks-btn{onclick: "$('#create-board-form-#{team.id}').show();"}
  .create-board-item
    Create new board…
.hide-body-clicks{id:"create-board-form-#{team.id}",style:"display:none"}
  .card-form-holder
    .card-form-header
      .card-form-title
        Create Board
        .close-button-holder{onclick:"$('#create-board-form-#{team.id}').hide();"}
          .fa.fa-times
    = form_with(model: Board.new, url: Board.new) do |f|
      .card-form-body
        .card-form-label
          = f.label :name
        .card-form-input
          = f.text_field :name
        .card-form-label
          = f.label :team
        .card-form-input
          = f.select :team, @teams.collect{|u| [u.name, u.id]}, selected: team.id
        .card-form-submit
          = f.submit "Create"
.clear-50
