.home-page-wrapper
  .nav-holder
    = link_to root_path, class: "trello-logo-white" do
      = image_tag('trello-logo-white')
    .links-container
      -if user_signed_in?
        = link_to "Go to Your Boards", boards_path, class: "boards-link"
      -else
        = link_to "Sign Up", new_user_registration_path, class: "signup-link"
        = link_to "Log In", new_user_session_path, class: "login-link"
  %h1
    Trello lets you work more
    %br
    collaboratively and get more done.
  %p
    Trello’s boards, lists, and cards enable you to organize and prioritize
    %br
    your projects in a fun, flexible and rewarding way.
    - if user_signed_in?
      -# Logout link for debug purposes
      -# =link_to('Logout', destroy_user_session_path, method: :delete)
      %br
      %br
      Hey, you’re logged in!
      = link_to "Go to your boards.", boards_path
  - unless user_signed_in?
    = link_to " Sign Up – It’s Free. .", new_user_registration_path, class: "secondary-signup-link"
    %p.secondary-login-link
      Already use Trello?
      = link_to "Log in.", new_user_session_path
