.devise-container
  .devise-form-container
    %h1 Log in to Trello
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "e.g., leela@planetexpress.nnyc"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", placeholder: "e.g., ••••••••••••"
      .actions
        = f.submit "Log in", class: "login-button"
    = render "devise/shared/links"
