= form_for @board do |f|
  - if @board.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board.errors.count, "error")} prohibited this board from being saved:"
      %ul
        - @board.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :color_id
    = f.number_field :color_id
  .field
    = f.label :project_id
    = f.number_field :project_id
  .actions
    = f.submit 'Save'
