.board-show-holder{style:"background:#{@board.color.hex_code}"}
  = render '/layouts/header'
  .second-nav-bar
    .second-nav-board-name
      Board
    .second-nav-show-menu
      %i.fa.fa-ellipsis-h
      %span
        Show Menu
  .clear-10
  .lists-container
    - @lists.each do |list|
      .list-item-holder{data:{id:list.id}}
        .list-item
          .list-item-name
            = list.name
        .droppable-area
        - cards = Card.where(list:list)
        .cards-holder
          - cards.each do |card|
            .card-item-holder{onclick:"dynamicAjaxGet('#{card_path(card)}','ModalHolder','showModals();')",data:{id:card.id}}
              .card-item-name
                = card.name
              = form_with(model: Card.find(card.id), url: update_list_card_path(card.id,format: :json) ,id:"CardForm#{card.id}") do |f|
                = f.hidden_field :list_id, value: card.list.id, id:"CardListID#{card.id}"
        .new-card-holder.hide-body-clicks.stop-show-body-clicks{style:"display:none;",id:"new-card-form-#{list.id}"}
          = form_with(model: Card.new, url: Card.new) do |f|
            = f.text_area :name, id: "CardName#{list.id}"
            = f.hidden_field :list_id, value: list.id
            = f.submit "Add",class: "btn-save"
            .fa.fa-times{onclick:"$('#new-card-form-#{list.id}').hide();$('#new-card-holder-#{list.id}').show();"}
        .add-a-card-holder.hide-body-clicks-btn.show-body-clicks{id:"new-card-holder-#{list.id}",onclick:"$('#new-card-form-#{list.id}').slideDown(100);$('#new-card-holder-#{list.id}').hide();$('#CardName#{list.id}').focus();"}
          Add a card ...
    .add-list-holder
      .add-list-form
        .add-a-list.hide-body-clicks-btn.show-body-clicks{onclick:"$('#create-list-form').slideDown(100);$('.add-a-list').hide();$('#ListName').focus();"}
          Add a list...
        #create-list-form.hide-body-clicks.stop-show-body-clicks{style:"display:none;"}
          = form_with(model: List.new, url: List.new) do |f|
            = f.text_field :name, placeholder:"Add a list...",id:"ListName",class:"create-list"
            = f.hidden_field :board_id, value: @board.id
            = f.submit "Save",class: "btn-save"
            .fa.fa-times{onclick:"$('#create-list-form').hide();$('.add-a-list').show();"}
#ModalOverlay
  #ModalHolder.modal-holder{style:"display:none;"}
