.moadl-header
  .molda-card-icon
    .icon.icon-card
  .modal-card-name
    %input{id:"ModalCardName",value:"#{@card.name}",onchange:"changeCardName('#{@card.id}',$(this).val());"}
  .modal-close
    &times;
.modal-content
  .left-content
    .card-in-list
      in list
      %span
        = @card.list.name
      -# TODO add Popup for changing list
    .modal-section-header
      .icon-comment.icon
      %span
        Add Comment
    .modal-section-left
      .user-profile-pic
        = current_user.name.chars.first
    .modal-section-right
      - card_activity =  @card.card_activities.new
      = form_with model: card_activity.build_card_comment , url: card_card_comments_path(@card) do |f|
        = f.text_area :comment, class:"card-comment", placeholder: "Write a comment..."
        = f.submit "Save",class: "btn-save"
    .clear-10
    #CardCheckLists
      - @card.checklists.each do |checklist|
        = render checklist
    .modal-section-header
      .icon.icon-activity
      %span
        Activity
      .right-text
        Hide Details
    #CardActivity
      - @card.card_activities.order(:created_at => :desc).includes(:card_comment,:card_activity_item).each do |card_activity|
        = render card_activity
  .right-content
    .modal-section-header
      Add
    .modal-button
      .icon.icon-member
      %span
        Members
    .modal-button.show-body-clicks.hide-body-clicks-btn{onclick:"$('#labels-form').show();"}
      .icon.icon-label
      Labels
    #labels-form.z-10.card-form-holder.hide-body-clicks.stop-show-body-clicks{style:"display:none;"}
      .card-form-header
        .card-form-title
          Labels
          .close-button-holder{onclick:"$('#labels-form').hide();"}
            .fa.fa-times
        .card-form-input
          %input{placeholder:"Search Labels"}
        .clear-10
        - @board.labels.each do |label|
          .card-label-holder
            .card-label-item{style:"background:#{label.color.hex_code}"}
              = label.name
          .clear-5
    .modal-button.show-body-clicks.hide-body-clicks-btn{onclick:"$('#create-checklist-form').show();$('#ChecklistName').focus();"}
      .icon.icon-checklist
      %span
        Checklist
    #create-checklist-form.z-10.card-form-holder.hide-body-clicks.stop-show-body-clicks{style:"display:none;"}
      .card-form-header
        .card-form-title
          Add Checklist
          .close-button-holder{onclick:"$('#create-checklist-form').hide();"}
            .fa.fa-times
      = form_with(model: @card.checklists.new, url:  card_checklists_path(@card)) do |f|
        .card-form-label
          = f.label :title
        .card-form-input
          = f.text_field :title, value:"Checklist", id:"ChecklistName"
        = f.submit "Add", class: "btn-save"
        .clear-10
    .modal-button
      .icon.icon-clock
      %span
        Due Date
    .modal-button
      .icon.icon-attachment
      %span
        Attachment
    .modal-section-header
      Actions
    .modal-button
      .icon.icon-move
      %span
        Move
    .modal-button
      .icon.icon-card
      %span
        Copy
    .modal-button
      .icon.icon-subscribe
      %span
        Subscribe
    .modal-button
      .icon.icon-archive
      %span
        Achive
  .clear-10
