.moadl-header
  .molda-card-icon
    .icon.icon-card
  .modal-card-name
    %input{id:"ModalCardName",value:"#{@card.name}",onchange:"changeCardName('#{@card.id}',$(this).val());"}
  .modal-close
    &times;
.modal-content
  .left-content
    .card-in-list
      in list
      %span
        = @card.list.name
      -# TODO add Popup for changing list
    .modal-section-header
      .icon-comment.icon
      %span
        Add Comment
    .modal-section-left
      .user-profile-pic
        = current_user.name.chars.first
    .modal-section-right
      - card_activity =  @card.card_activities.new
      = form_with model: card_activity.build_card_comment , url: comments_card_path do |f|
        = f.text_area :comment, class:"card-comment", placeholder: "Write a comment..."
        = f.submit "Save",class: "btn-save"
    .clear-10

    .modal-section-header
      .icon.icon-activity
      %span
        Activity
      .right-text
        Hide Details
    #CardActivity
      - @card.card_activities.order(:created_at => :desc).includes(:card_comment,:card_activity_item).each do |card_activity|
        = render card_activity
  .right-content
    .modal-section-header
      Add
    .modal-button
      .icon.icon-member
      %span
        Members
    .modal-button
      .icon.icon-label
      Labels
    .modal-button
      .icon.icon-checklist
      %span
        Checklist
    .modal-button
      .icon.icon-clock
      %span
        Due Date
    .modal-button
      .icon.icon-attachment
      %span
        Attachment
    .modal-section-header
      Actions
    .modal-button
      .icon.icon-move
      %span
        Move
    .modal-button
      .icon.icon-card
      %span
        Copy
    .modal-button
      .icon.icon-subscribe
      %span
        Subscribe
    .modal-button
      .icon.icon-archive
      %span
        Achive
  .clear-10
