.modal-section-header
  .icon-checklist.icon
  %span
    = checklist.title
.checklist-progress-bar-holder{id:"CheckListPercentagesHolder#{checklist.id}",class:"#{checklist.complete_status}"}
  %span
    = checklist.complete_percentage
    &#37;
  .checklist-progress-bar
    .checklist-progress{style:"width:#{checklist.complete_percentage}%;"}
.checklist-items-holder{id:"CheckListItemsHolder#{checklist.id}"}
  - checklist.checklist_items.each do |checklist_item|
    = render checklist_item
= form_with(model: checklist.checklist_items.new, url: checklist_checklist_items_path(checklist)) do |f|
  = f.text_field :name,id:"ChecklistItemName#{checklist.id}", class: "new-checklist-item-name", placeholder: "Add an item..."
  = f.submit 'Add', class: "btn-save new-checklist-item-save"
